<div class="container mt-4">
  <div class="row">
    <div class="col-md-2">
      <ul *ngIf="villes" class="list-group">
        <li [ngClass]="ville==currentVille?'active':''" *ngFor="let ville of villes._embedded.villes" class="list-group-item clickable" (click)="onClickGetCinemas(ville)">
          {{ville.name}}
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">Liste des cinémas</div>
        <div class="card-body">
          <ul *ngIf="cinemas" class="nav nav-pills nav-fill">
            <li *ngFor="let cinema of cinemas._embedded.cinemas" class="nav-item clickable cinema">
              <a [ngClass]="currentCinema==cinema?'active':''" class="nav-link" (click)="onClickGetSalles(cinema)">{{cinema.name}}</a>
            </li>
          </ul>

          <div class="row" *ngIf="salles">
              <div class="col-sm-6" *ngFor="let salle of salles._embedded.salles">
                <div class="card mt-3">
                  <h5 class="card-header">{{salle.name}}</h5>
                  <div class="card-body" *ngIf="salle.projections">
                    <div class="row">
                      <div class="col-md-5">
                        <img src="{{cinemaService.host+'/imageFilm/'+salle.projections._embedded.projections[0].film.id}}" width="150"/>
                      </div>
                      <div class="col-md-7">
                        <ul class="list-group">
                          <li class="list-group-item"><b>Séances :</b></li>
                          <li [ngClass]="currentProjection==projection?'active':''" (click)="onClickGetTicketsPlaces(projection)" *ngFor="let projection of salle.projections._embedded.projections" class="list-group-item clickable">
                            {{projection.seance.heureDebut}} => Prix: {{projection.prix|number:'0.00'}} DH
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div *ngIf="currentProjection">
                      <div *ngIf="salle.id==currentProjection.salle.id">
                        <div *ngIf="currentProjection.tickets">
                          <div class="row mt-3 justify-content-center">
                            <button (click)="onSelectTicket(ticket)" [disabled]="ticket.reserve==true" class="{{getTicketClass(ticket)}}" *ngFor="let ticket of currentProjection.tickets._embedded.tickets">
                              {{ticket.place.numero}}
                            </button>
                          </div>
                        </div>

                        <div *ngIf="selectedTickets.length>0" class="mt-2">
                          <form #paymentForm="ngForm" (ngSubmit)="onPayTickets(paymentForm.value)">
                            <div class="form-group">
                              <label>Nom Client :</label>
                              <input class="form-control" name="nomClient" type="text" ngModel/>
                            </div>
                            <div class="form-group">
                              <label>Code Paiement :</label>
                              <input class="form-control" name="codePaiement" type="text" ngModel/>
                            </div>
                            <div class="form-group">
                              <button type="submit" class="btn btn-primary">Payer Tickets</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
